{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <div class="container-fluid" style="padding-top: 15px;">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>さあーて、来週のサザエさんは？</h1>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="float-left">
            <form action="/predict" method="post">
              {% csrf_token %}
              <input type="submit" value="来週の手を予測する" class="btn btn-primary" />
            </form>
          </div>
          <div class="float-right">
            <form action="/update" method="post">
              {% csrf_token %}
              <input type="submit" value="最新のデータを更新する" class="btn btn-link" />
            </form>
          </div>
        </div>
        {% if message %}
          <div class="col-xs-12 col-md-12">
            <div class="alert alert-info" role="alert">
              {{ message }}
            </div>
          </div>
        {% endif %}
        <div class="col-xs-12 col-md-12">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>日付</th>
                <th>手</th>
              </tr>
            </thead>
            <tbody>
              {% for episode in episodes %}
                <tr>
                  <td>
                    {{ episode.air_time | date:"Y/m/d" }}
                  </td>
                  <td>
                    {{ episode.hand }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>