{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    さーて、来週のサザエさんは？
    <br>
    <br>
    {{ message }}
    <form action="/update" method="post">
    {% csrf_token %}
    <input type="submit" value="最新のデータを取得する" />
    </form>
    <br>
    <form action="/predict" method="post">
    {% csrf_token %}
    <input type="submit" value="来週の手を予測する" />
    </form>
    <br>
    {% for episode in episodes %}
        <p>{{ episode.air_time | date:"Y/m/d" }}, {{ episode.hand }}</p>
    {% endfor %}
  </body>
</html>